html {
    
}

body {
    background-image: url('vaip.png');
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 0px;
}
.header {
    overflow: hidden;
    background-color: #fffdd0;
    padding: 20px 10px;
    border-radius: 4px;
}
.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 25px;
    line-height: 25px;
    border-radius: 10px;
}

.header a.logo {
    color: #474743;
    font-family: Garamond, serif;
    font-size: 270%;
    font-weight: bold
}

.header a:hover {
    background-color: #f8e473;
    color: black;
    box-shadow: 5px 10px #888888;
}

.header a.active {
    background-color: #fce205;
    color: white;
}

.header-right {
    float: right;
}

.kesk {
    overflow: hidden;
    background-color: #fffff2;
    height: auto;
    margin-top: 20px;
    padding: 20px 20px;
    border-radius: 10px;
}

@media screen and (min-width: 1500px)
{
    body {
        margin-left: 200px;
        margin-right: 200px;
    }
    .header a {
#        margin-left: 100px;
        display: block;
    }
    .header-right-last {
        float: right;
#        margin-right: 100px;
    }
}
@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }

    .header-right {
        float: none;
    }

}
pealkiri {
    color: #474743;
    font-family: Garamond, serif;
    font-size: 250%;
    font-weight: bold;
}

alam_pealkiri {
    color: #474743;
    font-family: Garamond, serif;
    font-size: 140%;
    font-weight: bolder;
    font-style: italic;
}

img#tiimipilt {
                                    
    height:200px;
    box-shadow:3px 3px 12px;
    display: flex;
    margin-top: 20px;
    
}

h1 {
    color: #474743;
    font-family: Garamond, serif;
    text-shadow: 1px 1px 25px rgb(214, 204, 57);
}

.kontakt {
    text-align-last: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

.jalus {
    padding-right: 8px;
    color: #474743; font-family: Garamond, serif;
    font-weight: bold;

}

.container {
    display: flex;
    justify-content: center;
}
.product {
    margin: 27px;

}

.row {
    display: flex;

}

.image  {
    margin-bottom: 5px;
}

.image img {
    height: 200px;
    object-fit: cover;
    border-radius: 7px;
    box-shadow:1px 1px 10px rgb(0, 0, 0);
}
h3 {
    margin-top: 0px;
    display: flex;
    align-content: center;
    justify-content: center;
    margin-bottom: 0px;
}

.kirjeldus {
    display: flex;
    margin-top: 0px;
    margin-bottom: 0;
    
}

.alamosa {
    align-items: center;
    justify-content: center;
    flex-flow: nowrap;
    
}

asume {
    float: right;
    margin: 18px;
    color: #474743;
    font-weight: bold;
    font-size: 155%;
    font-family: Garamond, serif;  
}

p {
    color: #474743;
    font-size: 18px;
    font-family: Garamond, serif; 
    font-weight: bold;
}

.btn-main {
    font-family: Garamond, serif;
    color: #474743;
    transition: all .09 ease-out;
    display: inline-block;
    padding: 10px 35px;
    border: none;
    font-weight: bold;
    font-size: 13px;
    background-color:#fffff2;
    border-radius: 5px;
    box-shadow: 0 1px 10px rgb(214, 204, 57);
    transition: all .09s ease-out;
    margin-left: 5px;
}

.btn-main:hover {
    box-shadow: 0 5px 15px rgb(214, 204, 57, 5);
    transform: scale(1.05);
}

.btn-main:active {
    background-color: #fffff2;  
    box-shadow: 0 1px 10px rgb(214, 204, 57);
    transform: translateY(4px);
}

.materjal {
    display: flex;
}

.video {
    margin-top: 20px;
    border: none;
    align-items: right;
    display: flex;
    text-align: right;
    flex-flow: row nowrap;
    justify-content: space-between;
    
}

