* {
    box-sizing: border-box;
  }

* {
    margin: 0;
    padding: 0;
    border: 0;
  }
  
/* Piltide määratlemine lehel*/
 .pildid {
    float: left;
    width: 33.33%;
    padding: 5px;
    position: relative;
    text-align: center;
    color: white;
  }
  

  .alam::after {
    content: "";
    clear: both;
    display: table;
  }
/* Pildi kohale ilmuv tumendus*/
  .img-wrap {
    position: relative;
    height: 350px;
    width: 100%;
  }

  /* Pildile ilmuv tekst*/
 .bottom-left {
    position:absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(88, 78, 59, 0.418);
    font-size: x-large;
    padding: 150px 160px;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    align-items: center;
    justify-content: center;
  }
/* Tumenduse peale panek kui kasutaja liigub üle pildi kursoriga*/
  .img-wrap:hover .bottom-left {
    visibility: visible;
    opacity: 1;
  }