* {
    box-sizing: border-box;
  }

* {
    margin: 0;
    padding: 0;
    border: 0;
  }


/* Piltide määratlemine lehel*/
 .pildid {
    
    
    width: inherit;
    padding: 0 10px;
    position: relative;
    text-align: center;
    color: white;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    margin-top: 8px;
    margin-bottom: 8px;
  }


  .alam::after {
    content: "";
    clear: both;
    display: table;
  }
/* Pildi kohale ilmuv tumendus*/
  .img-wrap {
    position: relative;
    height: 350px;
    width: 350px;
    margin-top: 0px;
    vertical-align: middle;
    max-width: 100%;
    object-fit: cover;
    object-position: bottom;
    margin-bottom: 5px;
    border-radius: 15px;
  }

  /* Pildile ilmuv tekst*/
 .bottom-left {

    position:absolute;

    max-width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(88, 78, 59, 0.418);
    font-size: x-large;
    /* padding: 150px 160px; */
    padding-top: 45%;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    object-position: bottom;
    border-radius: 15px;
  }
/* Tumenduse peale panek kui kasutaja liigub üle pildi kursoriga*/
  .img-wrap:hover .bottom-left {
    visibility: visible;
    opacity: 1;
  }

  .column {
    text-align: -webkit-center;
  }

  .alam {
    padding: 0 4px;
  }
 
  @media screen  and (max-width: 625px){
    .img-wrap {
      position: relative;
      height: 250px;
      width: 250px;
    }
    .bottom-left {
      height: 250px;
      width: 250px;
    }
  }
  @media screen  and (max-width: 525px){
    .img-wrap {
      position: relative;
      height: 200px;
      width: 200px;
    }
    .bottom-left {
      height: 200px;
      width: 200px;
    }
  }